
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
}

.main-title{
    font-family: "Kanit";
    text-align: center;
    font-weight: 700;
}