@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

:root {
    background-color: #1f1f1f;
    color: #e7e2e2;
    font-family: "Kanit";
    font-weight: 400;
}

